export POSTGRES_HOST=localhost
export POSTGRES_USER=postgres
export POSTGRES_PASSWORD=password
export POSTGRES_DB=scylla_tms
export POSTGRES_PORT=5432
export DB_TIMEZONE=Asia/Jakarta

export PORT=3000

export SWAGGER_HOST=103.28.219.73:5001
export SWAGGER_URL=/scylla-tms/web/v1

ENVIRONMENT=dev

JWT_SECRET_KEY=secret

export BE_URL=http://10.10.12.11:9002

export DATABASE_URL='postgres://postgres:password@localhost:5432/scylla_tms?sslmode=disable'