<html>

<body style="padding: 10px;margin:0px;background-color: #f1f2f3;font-family: 'Roboto', sans-serif;">
<link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" type="text/css">
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
    <tr>
        <td style="padding:10px;">
            We received a request to reset your account password.<br>
            Please use the following one-time password to verify yourself. 
        </td>
    </tr>
    <tr>
        <td style="padding:30px 0 0 12px;font-size:24px;letter-spacing:2px;line-height:30px;font-family:'Open Sans','Trebuchet MS',sans-serif">
            <b>{{ .OtpCode }}</b>
        </td>
    </tr>
</table>
<!--
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:640px;width:100%;min-height: 70px"
       bgcolor="#FFFFFF">
    <tr>
        <td align="center" valign="center" style="padding:10px;">
            <table width="480px" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width:480px; width:480px;">
                <tr>
                    <td align="center" valign="top" style="padding:10px;">
                        <span style="color:#8d94a6;font-size: 12px;font-family: 'Roboto', sans-serif; letter-spacing: 1.5;">Powered by</span>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="top" style="padding:10px;">
                        <img width="152px" src="https://drive.google.com/uc?id=1w2mkqdGFkgWvvQBSGj8gCRO8UbOkjqcu" alt=""
                             srcset="">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
-->
</body>

</html>
